.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}
.about h1{
    margin-left: 1100px;
    margin-bottom: 100px;
}
.about-body{
    margin-top: 50px;
}
.vision-text{
    height: 500px;
    margin-left: 50px;
}
.vision-img img{
    height: 500px;
    width: 500px;
    margin-left: 50px;
}
.vision-text h2{
    margin-left: 100px;
}
.approach-text{
    height: 500px;
    margin-right: 50px;
    margin-left: 50px;
}
.approach-text h2{
    margin-left: 100px;
}
.approach-img img{
    height: 500px;
    width: 500px;
    margin-left: 50px;
}
.process-text{
    height: 500px;
    margin-left: 50px;
}
.process-text h2{
    margin-left: 100px;
}
.process-img img{
    height: 500px;
    width:500px;
    margin-left: 50px;
}