.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}
.imageMaps{
    height: auto;
    filter: brightness(75%);
    position: relative;
    top: 0px;
    left: 0px;

}
.title h1{
    margin: 50px;
}
.image-container{
    background: #fff8e8;
    width: 500px;
    height: 500px;
    position: absolute;
    top:10px;
    left:40px;
    filter: brightness(100%);
    margin-left: 700px;
    margin-top: 50px;
}
.image-container h1{
    text-align: center;
}

.phone img,.email img, .location img{
    width: 25px;
    height: 25px;
    float: left;

}
.phone h3, .email h3, .location h3{
    margin: 25px -10px 0 50px;
    display: block;
}

@media screen and(max-width: 800px)
{
    .image-container{
        margin:0px;
    }

}