.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}


#container-fluid{
    margin: 0 auto;
    width: 570px;
    max-width: 100%;
    text-align: center;
}
#container-fluid input[type=radio]{
    display: none;
}
#container-fluid label{
    cursor: pointer;
    text-decoration: none;
}
#slides{
    padding: 30px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}
#overflow{
    width: 500px;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slides .inner{
    transition: margin-left800ms ease;
    width:400%;
    line-height: 0;
    height: 500px;
}
#slides .slide{
    width:25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;

}
#slides .slide_1{
    background: #143601;
}
#slides .slide_2{
    background: #538D22;
}
#slides .slide_3{
    background: #AAD576;
}
.slide-content{
    padding: 20px;

}
#controls{
    margin: -300px 0 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    position: relative;
}
#controls label{
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .3;
}
#controls label:hover{
    opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1){
    background: url("https://www.flaticon.com/svg/vstatic/svg/709/709586.svg?token=exp=1615902826~hmac=dd6e8671ad5500f8dbe02b9d2f115f25") no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2){
    background: url("https://www.flaticon.com/svg/vstatic/svg/860/860790.svg?token=exp=1615903331~hmac=cd78285ed5991f03c7125f48d7d6ae15") no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets{
    margin: 250px 0 0;
    text-align: center;
}
#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;

}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3){
    background: #333;
}

.card1, .card2, .card3, .card5, .card6 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 180px;
    height: 150px;
    margin:5px;
    text-decoration: none;

}
.card1{
    background: #F5DEBC;
}
.card1 a, .card2 a, .card3 a, .card5 a, .card6 a{
    text-decoration: none;
    color: #000000;
}
.card1 a:hover, .card2 a:hover, .card3 a:hover, .card5 a:hover, .card6 a:hover{
    color: #7B2CBF;
}
.card2{
    background: #CCDA87;
}

.card3{
    background: #ECA77F;
}

.card5{
    background: #F4C8A6;
}

.card6{
    background: #C4D473;
}

.card1:hover, .card2:hover, .card3:hover, .card5:hover, .card6:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.15);
}
.card4{
    display: none;
}

.container1, .container2, .container3, .container5, .container6 {
    margin: 10px;
    padding-top: 20px;
}

