.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}
.prezentare1 p, .prezentare2 p, .prezentare3 p, .prezentare4 i, .prezentare5 p, .prezentare6 h3{
    width: 300px;
    margin: 30px;
    z-index: 1;
    display: block;


}
.logo {
    margin-left: 800px;
}
.prezentare1, .prezentare4{
    margin-left: 500px;
}
.echipa h1{
    margin-left: 900px;
}
.echipa h2{
    margin-left: 1000px;
}
.card{
    margin-top: 100px;
    margin-left: 600px;
}
.card7{
    margin-top: 100px;
    margin-left: 30px;
}
.medicii_nostrii{
    background: #f0f0f0;
}
@media screen and (max-width: 1000px){
    .prezentare1,
    .prezentare2,
    .prezentare3,
    .prezentare4,
    .prezentare5,
    .prezentare6{
        margin: 0;
    }
    .logo{
        margin-left: 300px;
    }
    .echipa h1{
        margin-left: 400px;
    }
    .echipa h2{
        margin-left: 500px;
    }
    .card, card7{
        margin-left: 10px;
    }
}