.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}
.news h1{
    margin-left: 1100px;
    margin-bottom: 100px;
}
.news_image h3{
    margin-left: 1050px;
    margin-top: 50px;
}
.news_image img{
    width: 700px;
    height: 400px;
    margin-top: 50px;
    margin-left: 800px;
}
.news_image{
    width: auto;
    height: 600px;
    background: #fff8e8;
}
.news_body{
    margin-top: -15px;
    width: auto;
    height: 800px;
    background: #dcd6f7;
}
.news_body p{
    margin-left: 700px;
    float: left;
    margin-right: 600px;
}
@media screen and(max-width: 800px)
{
    .news_body,
    .news_image{
        margin: 0;
    }
}