.navigation-bar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation-bar .icon {
    display: none;
}
.title-service{
    margin-left: 1000px;
    margin-bottom: 100px;
}
.subtitle-service{
    margin-left: 750px;
    margin-bottom: 150px;
}

.serivce-body{
    margin-left: 500px;
}
.rand1 tr, .rand2 tr{
    margin-top: 30px;
}


.service1 img, .service2 img, .service3 img, .service4 img, .service5 img, .service6 img, .service7 img,.service8 img{
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

.service1 img:hover, .service2 img:hover, .service3 img:hover, .service4 img:hover, .service5 img:hover, .service6 img:hover, .service7 img:hover,.service8 img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.15);
}

.service1, .service2, .service3, .service4, .service5, .service6, .service7, .service8{
    width:260px;
    height:260px;

    transition: 0.3s;
    margin:20px;
    text-decoration: none;
}
.service1 p, .service2 p, .service3 p, .service4 p, .service5 p, .service6 p, .service7 p, .service8 p{
    text-align: center;
    margin-top: 10px;
}
